.gradle
.build
.classpath
.project
.idea


!gradle/wrapper/gradle-wrapper.jar
# 해당주석 gitignore추가됬는지 확인(git 캐시를 삭제 git rm -r --cached)
src/main/resource/application.yml
# Project exclude paths

/build/
/build/classes/java/main/

# yml삭제 테스트